@font-face {
    font-family: 'std-bold' ;
    src: url(CircularStd-Bold.ttf);
}

@font-face {
    font-family: 'std-book';
    src: url(CircularStd-Book.ttf);
}

@font-face {
    font-family: 'std-medium';
    src: url(CircularStd-Medium.ttf);
}

@font-face {
    font-family: 'std-black';
    src: url(CircularStd-Black.ttf);
}

@font-face {
    font-family: 'toma-semibold';
    src: url(./toma-semibold.ttf);
}

@font-face {
    font-family: 'toma-reg';
    src: url(./TomatoGrotesk-Regular.ttf);
}

